* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.satisfy {
    font-family: 'Satisfy', cursive;
}

a:focus,
button:focus,
input:focus {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}

/* Apply Marcellus font to event text */
.event-title,
.event-data,
.event-location {
    font-family: 'Marcellus', serif;
}


h1, h2, h3 {
    font-family: 'Marcellus', serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
}

.site-footer {
    margin-top: auto;  /* pushes footer to bottom */
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.3rem;
}

#modal-overlay {
    z-index: 2000; /* ensure overlay is above navbar/footer */
}

#event-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    outline: none;
    color: black; /* force text to be visible */
}

#event-modal h2,
#event-modal p {
    color: black; /* make sure text is readable */
}



.navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #d87393;
    background-image: linear-gradient(to top, #d87393 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #d87393;
    color: #fff;
}

.button:hover {
    background: #f4b860;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #f4b860;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #000000;
    }
    .navbar__menu.active {
        background: #000000;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        background: none;
        border: none;

        position: absolute;
        top: 20%;
        right: 5%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items:center;
        z-index: 1000;
    }

    .bar {
        position: absolute;
        width: 30px;
        height: 6px;
        background-color: #ff69b4;
        border-radius: 50px;
        transition: all 0.5s ease-in-out;
        transform-origin: center center;
    }

    .bar1 {
        top: 8px; 
    }
    .bar2 { 
        top: 17px; 
    }
    .bar3 { 
        top: 26px; 
    }

    .flower-center {
        position: absolute;
        top: 18px;
        width: 10px;
        height: 10px;
        background-color: #ffd700;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    #mobile-menu.open .bar1 {
        transform: rotate(-60deg) translate(-7px, 5px);
        background-color: #ffb6c1;
    }

    #mobile-menu.open .bar2 {
        background-color: #ffb6c1;
    }

    #mobile-menu.open .bar3 {
        transform: rotate(60deg) translate(-8.1px, -4.5px);
        background-color: #ffb6c1;
    }

    #mobile-menu.open .flower-center {
        opacity: 1;
    }
 
    /*
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
    }
    */
}

/* Hero Section CSS */
.main {
    background-color: #000000;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #000000;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #d8a7b1 0%, #d87393 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #e6a441 0%, #d87393 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(135deg, #d8a7b1 0%, #d87393 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #2e1f24;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(135deg, #f4b860, #e49b24);
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--containter {
    text-align: center;
}

/*
#main__img {
    height: 80%;
    width: 80%;
}
*/

#main_video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* Mobile responsive */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Info Section CSS */
.info {
    background: #000000;
    display: flex;
    flex-direction: column;
    align-item: center;
    height: 100vh;
}

.info h1 {
    background-color: #f7a96e;
    background-image: linear-gradient(to right,
     #ff8177, 0%,
     #ff867a, 0%,
     #edb24b, 21%,
     #efb34b, 52%,
     #e59941, 78%,
     #ca8b0e, 100%
    );
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.info__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.upcoming-container {
    display: flex;
    
}

.left-head {
    background-color: #f7a96e;
    width:50%;
    padding-top: 3rem ;
    padding-bottom: 3rem;
    padding-left:1rem;
    text-align: center;
    font-size: larger;
}

.right-head {
    background-color: #ff8177 ;
    width:50%;
    /*padding: 1rem;*/
    list-style-type: none;
}

.right-thing {
    list-style-type: none;
}

.event-sub {
    display: flex;
    gap: 1rem;
    align-items: center;   /* vertical centering */
    padding: 0.5rem 1rem;       /* horizontal padding only */
    border-bottom: 1px solid #000;
    height: 4rem;          /* keep fixed height if you like */
}

.event-sub:hover {
    background-color: #ffb6c1; /* hover effect */
}

.event-title {
    font-family: 'Marcellus', serif;
    font-size: 16px;
    font-weight: bold;
}

.event-data, .event-location {
    margin-top: 4px;
    font-size: 14px;
}

/* modal background overlay */
#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); /* transparent background */
    display: none;
    justify-content: center;
    align-items: center;
}

#event-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    outline: none;
}

#close-btn {
    margin-top: 12px;
    padding: 8px;
    background-color: #444;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
}


.calendar-image {
  flex: 2 1 0;
  width: 100%;
}

.calendar img {
    /*width:80%;
    height: 80%;
    position:relative;*/
    width: 100%;
    height: auto;
    display: block;
    /*flex: none;*/
}

.calendar {
    display: flex;
    flex-wrap: wrap; /*filters will stay on right side*/
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.calendar-filters {
    flex: 1;
    min-width: 200px;
    max-width: 400px;

    background-color: black;
    color:white;
    /*position:relative;
    margin-left: -100px;
    margin-right: 1rem;
    margin-top: 100px;*/
    padding: 1rem;
   /*width:80%;
    height:10rem;*/
    border-radius: 1rem;
    text-align: center;
    padding-top:1rem;

    box-sizing: border-box;
}

.calendar-filters h2 {
    padding-bottom: 5px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper-13 input[type=checkbox] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
      margin-bottom: 5px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .checkbox-wrapper-13 input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .checkbox-wrapper-13 input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    .checkbox-wrapper-13 input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
  }

  .checkbox-wrapper-13 * {
    box-sizing: inherit;
  }
  .checkbox-wrapper-13 *:before,
  .checkbox-wrapper-13 *:after {
    box-sizing: inherit;
  }
